<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
										 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3309/db_mini_mouse?useSSL=false</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">root</property>
  <property name="show_sql">true</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping resource="com/minimouse/model/ProductCategory.hbm.xml"/>
  <mapping resource="com/minimouse/model/AddNewAdmin.hbm.xml"/>
  <mapping resource="com/minimouse/model/Employee.hbm.xml"/>
  <mapping resource="com/minimouse/model/ProductSubCategory.hbm.xml"/>
  <mapping resource="com/minimouse/model/AddClient.hbm.xml"/>
  <mapping resource="com/minimouse/model/StockInTxn.hbm.xml"/>
  <mapping resource="com/minimouse/model/StockOutTxn.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
